
.site-item {
  text-decoration: none;
}

.site-item {
  text-decoration: none;
}



.ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  margin: 0 20px;

  list-style: none;
}

.wjs {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  margin: 0 20px;
}
